.color-red {
    color: red;
}

.primary {
    color: #0d6efd;
}

.cursor-pointer {
    cursor: pointer;
}

.fnt-1-15-rem {
    font-size: 1.15rem !important;
}

.link-secondary:hover {
    color: #0d6efd !important;
}

.text-color-default {
    color: #2c3e50 !important;
}

.rotate-180 {
    transform: rotate(180deg);
}